
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">欢迎登录管理系统</span>
            </li>
            <li class="dropdown">
                <span class="label label-primary">{$user.nickname}</span>
            </li>
            <li>
                <a href="/admin/admin/login">
                    <i class="fa fa-sign-out"></i> 登出
                </a>
            </li>
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>

