<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>美食</title>

    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Droid+Sans"/>

    <!-- special font -->
    <link rel="stylesheet" type="text/css" media="all"
          href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,400"/>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/f_static/js/jquery.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.tweetable.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.cycle.min.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/f_static/js/jquery.custom.js"></script>
    <script type="text/javascript" src="/f_static/js/contact.js"></script>

    <!-- SLIDER CYCLE -->
    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/slider-cycle.css"/>
    <script type="text/javascript" src="/f_static/js/swfobject.js"></script>

    <!-- SLIDER ELEGANT -->
    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/slider-elegant.css"/>

    <!-- SLIDER NIVO -->
    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/slider-nivo.css"/>
    <script type="text/javascript" src="/f_static/js/jquery.nivo.slider.pack.js"></script>

    <!-- SLIDER CAROUSEL -->
    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/slider-carousel.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/f_static/css/gxlyb_css.css"/>

    <!-- PORTFOLIO -->
    <script type="text/javascript" src="/f_static/js/jquery.quicksand.js"></script>

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!-- [favicon] end -->


    <!--[if IE]>
    <link rel='stylesheet' href='/f_static/css/style_ie.css" ?>' type='text/css' media='all'/>
    <![endif]-->
</head>

<body class="no_js">

<!-- START WRAPPER -->
<div class="wrapper group">
    {include file='public/header'}

    {block name="content"}{/block}
    {include file='public/footer'}

    <div>

</body>

</html>