<!-- START FOOTER -->
<div id="footer">
    <div class="group inner footer_row_1 footer_cols_4">   <!-- num of columns -->

        <!-- LAST TWEETS -->
        <div class="widget-first widget last-tweets">

        </div>
        <!-- END LAST TWEETS -->

        <!-- START FLICKR -->
        <div class="widget widget_flickrRSS" id="flickrrss">

        </div>
        <!-- END FLICKR -->

        <!-- START CONTACT INFO -->
        <div class="widget contact-info">

        </div>
        <!-- END CONTACT INFO -->

        <!-- START NEWSLETTER FORM -->
        <div class="widget-last widget widget_text">

        </div>
        <!-- END NEWSLETTER FORM -->

    </div>
</div><!-- /#footer -->
<!-- END FOOTER -->


