<!-- START HEADER -->
<div id="header" class="group inner">

    <!-- START LOGO -->
    <div id="logo" class="group">
        <a href="index.html">
            <img src="/f_static/images/logo/LOGO.png" style="height: 100px" alt="logo" />
        </a>
    </div>
    <!-- END LOGO -->

    <!-- START NAV -->
    <div id="nav">
        <ul class="level-1">
            <li class="current-menu-item"><a href="/index/index">主页</a>
            </li>
            <li><a href="#">美食廊</a>
                <ul class="sub-menu">
                    <li><a href="/index/article/lst/cid/1">甜品</a></li>
                    <li><a href="/index/article/lst/cid/2">饮品</a></li>
                    <li><a href="/index/article/lst/cid/3">正餐</a></li>
                    <li><a href="/index/article/lst/cid/4">其他</a></li>
                </ul>
            </li>
            <li><a href="/index/user/merchant_lst">商家展示</a>
            </li>
            <li><a href="#">人气排行</a>
                <ul class="sub-menu">
                    <li><a href="/index/article/rank">人气美食</a></li>
                    <li><a href="/index/user/urank">美食家</a></li>
                    <li><a href="/index/user/mrank">人气商家</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/admin/login">分享美食</a>
            </li>
        </ul>
    </div>
    <!-- END NAV -->

</div>
<!-- END HEADER -->