{include file="public/header"}

<body>

<div id="wrapper">

    {include file="public/left"}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            {include file="public/head"}
        </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <fieldset class="form-horizontal">
                                        <form method="post" id="myForm" enctype="multipart/form-data" action="">
                                            <div class="form-group"><label class="col-sm-2 control-label">标题:</label>
                                                <div class="col-sm-10"><input type="text" name="title"
                                                                              class="form-control"
                                                                              placeholder=""></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">商家:</label>
                                                <div class="col-sm-10"><input type="text" name="username"
                                                                              class="form-control"
                                                                              readonly="true"
                                                                              value="{$merchant.m_name}"
                                                                              placeholder="$160.00"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">发布时间:</label>
                                                <div class="col-sm-10"><input type="text" name="pubtime"
                                                                              class="form-control"
                                                                              value="{php}echo date('Y-m-d H:i');{/php}"
                                                                              placeholder="$160.00"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">上传封面:</label>
                                                <div class="col-sm-10"><input type="file" name="file"
                                                                              class="form-control"></div>
                                            </div>
                                            <div class="form-group"><label
                                                    class="col-sm-2 control-label">内容:</label>
                                                <div class="col-sm-10">
                                                    <div class="summernote">
                                                        <!-- 加载编辑器的容器 -->
                                                        <script id="container" name="content" type="text/plain">
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">地址:</label>
                                                <div class="col-sm-10">
                                                    <div class="summernote">
                                                        <iframe id="mapPage" width="100%" height="450px" frameborder=0
                                                                src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=N64BZ-GWL3X-XLZ4L-TALVI-V7HL7-T4BGV&referer=myapp">
                                                        </iframe>
                                                        <input type="hidden" value="" id="longitude" name="longitude">
                                                        <input type="hidden" value="" id="latitude" name="latitude">
                                                        <input type="hidden" value="" id="address" name="address">
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="text-align:center;margin:0 auto">
                                                <input type="submit" id="btn" class="btn btn-w-m btn-primary"
                                                       value="发布">
                                                </input>
                                            </div>
                                        </form>
                                    </fieldset>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Mainly scripts -->
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

<!-- 配置文件 -->
<script type="text/javascript" src="/static/js/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/js/ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var ue = UE.getEditor('container');
        $('#myForm').ajaxForm(function (res) {
            var txt = ue.getContentTxt();
            if (res = true) {
                window.location.href = '/admin/article/mlst';
            } else {
                alert(res)
            }
        });
    });

    window.addEventListener('message', function (event) {
        // 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
        var loc = event.data;var loc = event.data;
        if (loc && loc.module == 'locationPicker') {
            $('#longitude').val(loc.latlng.lng);
            $('#latitude').val(loc.latlng.lat);
            $('#address').val(loc.poiaddress +''+loc.poiname);
        }
    });


</script>

</body>

</html>

